// font-weight
$bold-font: 700;
$light-bold-font: 500;

// colors
$black: #000000;
$white: #FFFFFF;
$gray-text: #2E2F38;
$ok-green: #509A53;
$error-red: #E32727;


// box shadow
$default-box-shadow: 0 0 10px 0 rgba(138, 111, 111, 0.5);



