@import '../../styles//base';

.footer {
    width: 80vw;
    height: 12vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .border {
        width: 100%;
        border-top: 1px solid $black;
    }

    .textLine {
       font-size: 12px;
       color: $gray-text;

       &.center {
        text-align: center;
       }
    }
}